body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('img/cuidate+\ guias\ fondo.png') no-repeat center center fixed; /* Cambia 'fondo.jpg' por tu imagen */
    background-size: cover;
  }

  /* Barra superior */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
  }

  nav img {
    width:200px; /* Tamaño del logo */
  }

  nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    background: #fa1629c0;
    padding: 8px 15px;
    border-radius: 5px;;
    font-weight: bold;
  }

  nav a:hover {
    background: #c51123ca;}

   /* Contenido central */
  .contenido {
    max-width: 900px;
    margin: 100px auto 50px; /* Deja espacio por la barra */
    padding: 20px;
  }

  /* Botones */
  .botones {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    padding-left: 120px;
    justify-content: left;
    margin-top: 370px;
  }

  .botones a {
    background: rgba(226, 25, 39, 0.9);
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    min-width: 120px;
    transition: background 0.3s;
  }

  .botones a:hover {
    background: rgb(150, 0, 0);
  }
